
.container{
    display: flex;
    margin: auto;
    flex-direction: column;
    border: 3px black solid;
    margin-top: 80px;
    width: 40%;
    border-radius: 14px;

}
.container input{
    width: 40%;
    margin: auto;
    margin-top: 40px;
}
.container input[type = "submit"]{
    width: 25%;
    margin: auto;
    margin-left: 220px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.mess{
    margin-left: 220px;
}